<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Forget Password</title>

<link href = "../resources/css/bootstrap-theme.css" type = "text/css" rel="stylesheet">
<link href = "../resources/css/bootstrap-theme.min.css" type = "text/css" rel="stylesheet">
<link href = "../resources/css/bootstrap.css" type = "text/css" rel="stylesheet">
<link href = "../resources/css/bootstrap.min.css" type = "text/css" rel="stylesheet">


<link href="../resources/css/forget_password.css" type="text/css" rel="stylesheet">

</head>
<body>
	<div class="forget_passwordBox">
		<div class="pageHeaderForgetPassword">
			<div class="logo"></div>
		</div>
		
		<div class="white-box-waitfamily">
			<div class="main">
				<font>FORGOT YOUR PASSWORD ?</font><br/>
				<div class="second">WE WILL SEND YOU INSTRUCTIONS FOR YOUR PASSWORD RECOVERY TO THE EMAIL ADDRESS FOR YOUR ACCOUNT.</div>			
			</div>
			<div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4" id="white-boxfp">
				<div class="white-box-centerfp">
					<form action="/">
						<font>EMAIL Address</font><br />
						<div class="placeholder">
							<input type="text" id="email" class="email" placeholder="EXAMPLE@GMAIL.COM">
						</div>
						<br />

						<button type="button" class="emailcancel" id="emailcancel">CANCEL</button>
						<button type="button" class="emailsent" id="emailsent" style="float: right">SENT</button>

					</form>
				</div>
			</div>
			
		</div>
		
		<footer class="pagefooterForgetPassword">
			
		</footer>
	</div>

</body>
</html>