<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login</title>

<link href="../resources/css/bootstrap-theme.css" type="text/css"
	rel="stylesheet">
<link href="../resources/css/bootstrap-theme.min.css" type="text/css"
	rel="stylesheet">
<link href="../resources/css/bootstrap.css" type="text/css"
	rel="stylesheet">
<link href="../resources/css/bootstrap.min.css" type="text/css"
	rel="stylesheet">

<link href="../resources/css/login.css" type="text/css" rel="stylesheet">
</head>
<body>

	<div class="login">
		<div class="logo"></div>

		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
		<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10"
			style=" top: 30%;">
			<div
				class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3  col-md-6 col-md-offset-3  col-lg-4 col-lg-offset-4"
				id="white-box">
				<div class="white-box-center">
					<form action="/">
						<font>EMAIL</font><br />
						<div class="placeholder">
							<input type="text" id="email" class="email"
								placeholder="EXAMPLE@GMAIL.COM">
						</div>
						<br /> <font>PASSWORD</font><br />
						<div class="placeholder">
							<input type="password" id="password" class="password"
								placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">
						</div>
						<div class="forgot">
							<a href="" id="forgot_password" class="forgot">FORGOT
								PASSWORD?</a>
						</div>
						<!-- <font><input type="submit" value="Login" style="color: #000000"></font><div class="triangle"></div> -->

						<button type="button" class="btn btn-arrow-right">LOGIN</button>
						<br />
						<br />

						<div class="center-block" id="center">
							<button type="button" class="facebook" id="facebook_login"></button>
							<button type="button" class="google" id="google_login"></button>
						</div>
						<br />
						<div class="create">
							<a class="create" href="" id="create_new">CREATE NEW ACCOUNT</a>
						</div>

					</form>
				</div>
			</div>
		</div>

	</div>

</body>
</html>