<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Reset Password</title>

<link href="../resources/css/bootstrap-theme.css" type="text/css"
	rel="stylesheet">
<link href="../resources/css/bootstrap-theme.min.css" type="text/css"
	rel="stylesheet">
<link href="../resources/css/bootstrap.css" type="text/css"
	rel="stylesheet">
<link href="../resources/css/bootstrap.min.css" type="text/css"
	rel="stylesheet">

<link href="../resources/css/headerwithbutton.css" type="text/css"
	rel="stylesheet">
<link href="../resources/css/reset_password.css" type="text/css"
	rel="stylesheet">

<script type="text/javascript" src="../resources/js/common_functions.js"></script>

</head>
<body>
	<div class="container-fluid">
		<div class="row" id="pageHeaderReset">
			<div class="col-xs-2 col-xs-offset-5 col-sm-2 col-sm-offset-5 col-md-2 col-md-offset-5 col-lg-2 col-lg-offset-5"
				id="logo"></div>
		</div>
		
		<div class="row" id="pagefooterwithresetBox">
			<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1" id="text-box-reset">
				<font>RESET YOUR PASSWORD</font><BR/>
				IN THE FIELD BELOW, ENTER YOUR PASSWORD.
			</div>
			<div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4" id="white-box-reset">
				<div class="resetInfo_center">
				
					<form class="form-horizontal" action="/" id="joinFamilyForm" method="post">
						
						<font>ENTER CODE</font><br/>
						<div class="placeholder"><input type="text" id="code" class="form-control" name="code" placeholder="ENTER CODE" required  data-error-msg="Must enter your familyId?"></div>
						
						<br/>
						
						<font>NEW PASSWORD</font><br/>
						<div class="placeholder"><input type="password" id="newpassword" class="form-control" placeholder="NEW PASSWORD" ></div>
						
						<br/>
						
						<font>CONFIRM PASSWORD</font><br/>
						<div class="placeholder"><input type="password" id="confirmpassword" class="form-control" placeholder="CONFIRM PASSWORD"></div>
						
						<br/>
						<button type="button" id="resetcancel">CANCEL</button>
						<button type="button"  id="reset" style="float: right">DONE</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>